name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      SPRING_PROFILES_ACTIVE: test

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Run tests (H2)
        id: mvn-test
        run: mvn -B -e clean verify "-Dspring.profiles.active=test" --file pom.xml

      - name: Print surefire reports (if any)
        if: always()
        run: |
          REPORT_DIR=target/surefire-reports
          echo "---- LS $REPORT_DIR ----"
          if [ -d "$REPORT_DIR" ]; then
            ls -la "$REPORT_DIR"
            for f in "$REPORT_DIR"/*.txt; do
              if [ -f "$f" ]; then
                echo "===== $f ====="
                sed -n '1,300p' "$f"
              fi
            done
          else
            echo "$REPORT_DIR does not exist."
          fi


      - name: Upload test reports (artifact)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: surefire-reports
          path: target/surefire-reports
